<% if flash[:notice] %>
<div class="<%= flash[:notice]["class"] %>">
  <%= flash[:notice]["message"] %>
</div>
<% end %>

<% if flash[:bad] %>
<div class="<%= flash[:bad]["class"] %>">
  <%= flash[:bad]["message"] %>
</div>
<% end %>

<h3>Edit Product List</h3>
<hr>
<div class="row">
  <div class="col-md-4"

    <%= form_tag(class:"form-group", method:"post") do %>
      <h4>Add Product</h4>
      <%= label_tag "Product Name:" %>
      <%= text_field_tag :name %>
      <%= label_tag "Price:" %>
      <%= text_field_tag :price %>
      <%= label_tag "Country of Origin:" %>
      <%= select_tag "Country of Origin", options_from_collection_for_select(@countries, "id", "name")%>
      <%= submit_tag "Add Product" %>
    <% end %>
    <fade/>
  </div>
  <hr>
  <div class="col-md-4">
    <% if @products.any? %>
    <div style="overflow: scroll; height:400px;">
      <h4>Delete Products</h4>

        <% @products.each do |p| %>
          <div class="container">
            <%= p.name %>
              <%= link_to "Delete", product_path(p), :method=>"delete", :class=>"btn btn-danger btn-xs" %>

            <hr>
          </div>
        <% end %>

    </div>
    <% end %>
    <fade/>
  </div>
  <div class="col-md-4">
    <% if @products.any? %>
      <div style="overflow: scroll; height:400px;">
        <h4>Update Product Info</h4>
          <% @products.each do |p| %>
            <%= form_tag product_path(p), method:"patch" do %>
              <div class="container">
                <%= label_tag "Product name" %>
                <%= text_field_tag :name, p.name %>
                <%= label_tag "Country of Origin" %>
                <%= text_field_tag :country, @countries.find_by_id(p.country_id).name %>
                <%= label_tag "Price" %>
                <%= text_field_tag :cost, "$#{p.cost.to_f}" %>
                <%= submit_tag "Update",:class=>"btn btn-danger btn-xs" %>
              </div>
              <hr>
            <% end %>
          <% end %>
      </div>
    <% end %>
    <fade/>
  </div>
</div>
