<!DOCTYPE html>
<html>
  <head>
    <title>It's-a Me, Mario's Specialty Food Products</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
  </head>

  <body>
    <div class="navbar">
      <h1 class="navbar-brand">Specialty Food Products</h1>
      <nav class="">

          <%= link_to 'Home', root_path, :class=>"" %>
          |
          <%= link_to 'Products', products_path, :class=>""%>
          |
          <% if !current_user %>
            <%= link_to 'Sign Up', new_user_registration_path, :class=>""  %>
            |
            <%= link_to 'Sign In', new_user_session_path %>
          <% else %>
            <% if current_user.admin == true %>
              <%= link_to 'Admin', admin_path %>
              |
            <% end %>
            <%= current_user.email %>
            |
            <%= link_to 'Sign Out', destroy_user_session_path, :method=>"delete" %>

          <% end %>

        <%= form_tag('/products', method:"post", class:"", style:"float: right;") do%>
          <%= text_field_tag(:search)%>
          <%= submit_tag('Search') %>
        <% end %>
      </nav>
    </div>
    <div class="container">
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
